#topnav {
    display: flex;
    align-self: end;
    .nav-item {
        font-size: 2.25em;
        opacity: 45%;
        width: fit-content;
        margin-right: 67px;
        cursor: pointer;
        &#selected {
            text-decoration: underline;
            opacity: 100%;
        }
    }
}
