#topnav {
    display: flex;
    align-self: end;
    .nav-item {
        font-size: 30px;
        opacity: 0.45;
        width: fit-content;
        margin-right: 67px;
        cursor: pointer;
        &#selected {
            text-decoration: underline;
            opacity: 1;
        }
    }
}
