.class {
    width: 720px;
    height: 540px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative;
    .event {
        cursor: pointer;
    }
}
