#event {
    //overflow: scroll;
    display: block;
    .event-item {
        height: fit-content;
        display: grid;
        margin-bottom: 20px;
        grid-template-columns: 1fr 160px;

        column-gap: 20px;
        .text-wrapper {
            position: relative;
            .title {
                font-size: 1em;
                font-weight: 700;
            }
            .text {
                font-size: 1em;
            }
            #event-announcement {
                color: #d34c04;
                font-size: 14px;
                font-weight: 700;
                position: absolute;
                bottom: 0;
                a {
                    color: #d34c04;
                    margin-left: 5px;
                }
            }
        }
        .event-image {
            max-width: 160px;
            object-fit: contain;
        }
        &#second {
            grid-template-columns: 160px 1fr;
        }
    }
    hr {
        margin: 10px 0;
    }
}
